.dataTables_wrapper {
	overflow-x: scroll;
}

table.dataTable tbody tr.selected {
	background-color: #B0BED9;
}
table.dataTable tbody tr.selected td.sorting_1 {
	background-color: #B0BED9;
}

table.dataTable thead th.sorting_disabled {
	cursor: default;
}

table.dataTable input {
	width: 100%;
}